In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas==2.1.4 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.1.4)
Requirement already satisfied: python-dotenv==0.19.2 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (0.19.2)
Requirement already satisfied: sqlalchemy==1.4.28 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (1.4.28)
Requirement already satisfied: psycopg[binary] in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (3.1.16)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from pandas==2.1.4->-r requirements.txt (line 1)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from pandas==2.1.4->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from pandas==2.1.4->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from pandas==2.1.4->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: greenlet!=0.4.17 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from sqlalchemy==1.4.28->-r requirements.txt (line 4)) (3.0.2)
Requirement already satisfied: typing-extensions>=4.1 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from psycopg[binary]->-r requirements.txt (line 2)) (4.9.0)
Requirement already satisfied: psycopg-binary==3.1.16 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from psycopg[binary]->-r requirements.txt (line 2)) (3.1.16)
Requirement already satisfied: six>=1.5 in /home/nantenaina/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas==2.1.4->-r requirements.txt (line 1)) (1.16.0)

In [2]:

import os

import pandas as pd

In [3]:
dataset = "/home/nantenaina/Documents/10Academy2023/Week02/Challenge2/Data/traffic_20181024_d1_0830_0900.csv"

rawdata = pd.read_csv(dataset)
print(rawdata.head())

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...

In [4]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 1 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time  922 non-null    object
dtypes: object(1)
memory usage: 7.3+ KB

In [5]:
#The number of rows is '922'

In [6]:
#Get the max number of value for all rows

max_length = 0
for i in range (0,922) :
    text =str(rawdata.iloc[i,0])
    number = len(text.split(';'))
    if number > max_length :
        max_length = number
print (max_length)

122831

In [7]:
#The max number of value of row is '122831'

In [8]:
#create a dataframe with specified delimiter, number of rows and number of columns based on the above information
dataset = "/home/nantenaina/Documents/10Academy2023/Week02/Challenge2/Data/traffic_20181024_d1_0830_0900.csv"

rawdata1 = pd.read_csv(dataset, delimiter=';' ,index_col=False, names=range(122831), nrows =922, low_memory=False)
rawdata1.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122821,122822,122823,122824,122825,122826,122827,122828,122829,122830
0,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Separate the data into 2 tables 
table1 = rawdata1.iloc[:, :10]
table2 = rawdata1.iloc[: , 10:]

In [10]:
print(table1.head(5))

          0            1            2           3           4           5  \
0  track_id         type   traveled_d   avg_speed         lat         lon
1         1          Car        48.85    9.770344   37.977391   23.737688
2         2   Motorcycle        98.09   19.839417   37.977642   23.737400
3         3   Motorcycle        63.80   18.228752   37.977997   23.737264
4         4   Motorcycle       145.72   26.229014   37.978135   23.737072

          6         7         8          9
0     speed   lon_acc   lat_acc       time
1    4.9178    0.0518   -0.0299   0.000000
2   16.9759   -0.0361   -0.0228   0.000000
3   20.1906   -0.0795   -0.3395   0.000000
4    2.7555   -0.0302    0.0948   0.000000

In [11]:
print(table2.head(5))

      10         11       12      13      14      15         16      \
0        NaN        NaN      NaN     NaN     NaN     NaN        NaN
1  37.977391  23.737688   4.9207 -0.0124 -0.0354    0.04  37.977391
2  37.977642  23.737402  16.9739  0.0087 -0.0262    0.04  37.977641
3  37.977995  23.737265  20.1862  0.0191 -0.3887    0.04  37.977993
4  37.978135  23.737072   2.7538  0.0072  0.1052    0.04  37.978134

      17       18      19      ...  122821  122822  122823  122824  122825  \
0        NaN      NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
1  23.737688   4.9160 -0.0519  ...     NaN     NaN     NaN     NaN     NaN
2  23.737404  16.9771  0.0362  ...     NaN     NaN     NaN     NaN     NaN
3  23.737266  20.1933  0.0798  ...     NaN     NaN     NaN     NaN     NaN
4  23.737072   2.7565  0.0302  ...     NaN     NaN     NaN     NaN     NaN

   122826  122827  122828  122829  122830
0     NaN     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN     NaN
2     NaN     NaN     NaN     NaN     NaN
3     NaN     NaN     NaN     NaN     NaN
4     NaN     NaN     NaN     NaN     NaN

[5 rows x 122821 columns]